/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.view-container {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    background-color: #0078FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0078FF;
}

#meetingsList {
    margin-top: 20px;
}

.meeting-item {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.meeting-item h3 {
    margin: 0;
    font-size: 18px;
}

.meeting-item p {
    margin: 5px 0;
    font-size: 16px;
}
